<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <div class="page-title">
            <i class="zmdi zmdi-arrow-back zmdi-hc-lg mr-2 clickeable" (click)="GoBack()"></i>
            Crear orden de venta
        </div>

        <div class="d-flex">
            <button class="btn btn-success mx-1">
                <i class="zmdi zmdi-save zmdi-hc-lg mr-2"></i>
                Guardar
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
                <div class="flex-50-item form-group my-3">
                    <ng-select
                        class="clients-select"
                        [items]="clients"
                        bindLabel="name"
                        placeholder="Clientes"
                        [(ngModel)]="selectedClient"
                    ></ng-select>
                </div>

                <app-date-picker class="flex-50-item my-3" [presetDate]="orderDate" placeholder="Selecciona una fecha"></app-date-picker>
            </div>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="small-width">#</th>
                        <th class="medium-width">Producto</th>
                        <th class="medium-width">Cantidad Pz</th>
                        <th class="medium-width">Cantidad Kg</th>
                        <th class="medium-width">Impuesto</th>
                        <th class="medium-width">Precio</th>
                        <th class="medium-width">Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of orderItems; let i = index">
                        <td class="align-middle small-width" style="max-width: 50px !important;">{{i+1}}</td>
                        <td class="align-middle" style="width: 150px; max-width: 100%;">
                            <ng-select
                                class=""
                                [items]="products"
                                bindLabel="name"
                                placeholder="Productos"
                                (change)="OnProductSelected($event, item)"
                                [(ngModel)]="item.product"
                            ></ng-select>
                        </td>
                        <td class="align-middle medium-width">
                            <div class="input-container">
                                <input class="form-control no-icon" placeholder="Piezas" type="text" [(ngModel)]="item.quantity">
                            </div>
                        </td>
                        <td class="align-middle medium-width">
                            <div class="input-container">
                                <input class="form-control no-icon" placeholder="Kilogramos" type="text" [(ngModel)]="item.weight">
                            </div>
                        </td>
                        <td class="align-middle medium-width">
                            <div class="input-container">
                                <input class="form-control no-icon" disabled placeholder="Impuesto" type="text" [(ngModel)]="item.tax">
                            </div>
                        </td>
                        <td class="align-middle medium-width">
                            <div class="input-container">
                                <input class="form-control no-icon" disabled placeholder="Precio" type="text" [(ngModel)]="item.price">
                            </div>
                        </td>
                        <td class="align-middle medium-width">
                            <div class="input-container">
                                <input class="form-control no-icon" disabled placeholder="Total" type="text" [(ngModel)]="item.total">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="px-0">
                            <button class="btn btn-outline-success btn-block d-flex align-items-center justify-content-center"
                            (click)="PushItem()">
                                <i class="zmdi zmdi-plus zmdi-hc-lg mr-2"></i>
                                Agregar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
