<div class="clickeable px-2" id="dropdownHeaderMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="menu-title">
        <span>{{title}} <i class="zmdi zmdi-caret-down"></i></span>
    </div>

    <div class="dropdown-menu" aria-labelledby="dropdownHeaderMenuButton">
        <div class="menu-list">
            <ng-container *ngFor="let menuItem of linkItems">
                <div class="menu-item" (click)="GoToRoute(menuItem.link)">
                    <i class="zmdi {{menuItem.icon}}"></i>
                    <span class="pl-2">{{menuItem.title}}</span>
                </div>
            </ng-container>
            <div class="menu-item" (click)="LogOut()">
                <i class="zmdi zmdi-lock"></i>
                <span class="pl-2">Cerrar sesión</span>
            </div>
        </div>
    </div>
</div>
