<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <div class="page-title">
            <i class="zmdi zmdi-home zmdi-hc-lg mr-2 clickeable" (click)="GoHome()"></i>
            Mis clientes
        </div>

        <div class="d-flex">
            <button class="btn btn-success mx-1" (click)="modal.OpenModal(addOrEditClientModal)">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-lg mr-2"></i>
                Agregar
            </button>
            <div class="clickeable px-2" id="csvClientsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button class="btn btn-success mx-1">
                    <i class="zmdi zmdi-file zmdi-hc-lg mr-2"></i>
                    CSV
                </button>
            
                <div class="dropdown-menu px-1 py-1" aria-labelledby="csvClientsDropdown">
                    <div class="menu-list">
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="DownloadTemplate()">
                            <i class="zmdi zmdi-file-text"></i>
                            <span class="pl-2">Descargar plantilla</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="modal.OpenModal(addClientsByCsvModal)">
                            <i class="zmdi zmdi-file-plus"></i>
                            <span class="pl-2">Subir archivo</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="GenerateCsv()">
                            <i class="zmdi zmdi-download"></i>
                            <span class="pl-2">Exportar clientes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Filters -->
        <div class="col-12 col-lg-11 mt-3 mb-4">
            <app-filters [timerTrigger]="true" [filters]="filters" (onSearch)="GetClients($event)"></app-filters>
        </div>
        <div class="col-12 col-lg-11" *ngIf="!loading.getting; else bigLoading">
            <table class="table table-striped" *ngIf="!!clients?.length; else noClientsMessage">
                <thead class="table-thead">
                    <tr>
                        <th>Nombre</th>
                        <th>Razón social</th>
                        <th>RFC</th>
                        <th>Dirección principal</th>
                        <th>CP</th>
                        <th>Localidad</th>
                        <th>% utiliad</th>
                        <th>Días de pago</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.name}}</td>
                        <td>{{client.socialReason}}</td>
                        <td>{{client.rfc}}</td>
                        <td>{{GenerateClientAddress(client)}}</td>
                        <td>{{client.addresses[0]?.postalCode}}</td>
                        <td>{{client.addresses[0]?.province + ", " + client.addresses[0]?.country}}</td>
                        <td>{{client.utilityPercentage + "%"}}</td>
                        <td>{{client.paymentDays ? client.paymentDays : 'N/A'}}</td>
                        <td>
                            <div class="d-flex flex-column justify-content-around" style="gap: 12px;">
                                <button class="btn btn-outline-primary" (click)="GoToClientAddresses(client)">
                                    Ver direcciones
                                </button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="zmdi zmdi-edit zmdi-hc-lg clickeable mx-2" (click)="EditClient(client); modal.OpenModal(addOrEditClientModal)"></i>
                                    <i class="zmdi zmdi-delete zmdi-hc-lg clickeable mx-2" (click)="selectedClient = client; modal.OpenModal(deleteClientModal)"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #bigLoading>
    <div class="col-12 w-100 h-75 d-flex align-items-center justify-content-center" style="min-height: min-content;">
        <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
    </div>
</ng-template>
<ng-template #noClientsMessage>
    <div class="col-12 col-lg-11">
        <div class="no-items-message">
            No se encontraron clientes
        </div>
    </div>
</ng-template>

<ng-template #addClientsByCsvModal>
    <div class="modal-header">
        <h2 class="modal-title">Agregar por CSV</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal(loading.updating)"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-between">

            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-outline-primary" (click)="csvFileInput.click()">
                    Seleccionar archivo
                </button>
                <span>
                    {{clientsCsv?.name}}
                </span>
                <input class="d-none" type="file" accept=".csv" (change)="OnFileSelected($event)" #csvFileInput>
            </div>

            <div class="modal-table" *ngIf="!!clientsFailed?.length">
                <div class="my-4 text-center" style="font-size: 1.25rem; font-weight: 700;">
                    Error al crear clientes
                </div>
                <table class="table table-danger table-striped">
                    <thead class="table-thead bg-danger">
                        <tr>
                            <th>Nombre</th>
                            <th>RFC</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let client of clientsFailed">
                            <td>{{client.client.name}}</td>
                            <td>{{client.client.rfc}}</td>
                            <td>{{!!client.reason ? client.reason : 'Error al crear'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.CloseModal()">
            <span *ngIf="!clientsFailed?.length">Cancelar</span>
            <span *ngIf="!!clientsFailed?.length">Cerrar</span>
        </button>
        <button class="btn btn-success" (click)="RegisterClients()">
            {{csvAcceptLabel}}
        </button>
    </div>
</ng-template>

<ng-template #deleteClientModal>
    <div class="modal-header">
        <h2 class="modal-title">Eliminar cliente</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal()"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            ¿Esta seguro que desea eliminar a "{{selectedClient?.name}}"?
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.CloseModal()">
            No, cancelar
        </button>
        <button class="btn btn-danger" (click)="DeleteClient()">
            Si, eliminar
        </button>
    </div>
</ng-template>

<ng-template #addOrEditClientModal>
    <div class="modal-header">
        <h2 class="modal-title">{{ isEditing ? 'Actualizar cliente' : 'Agregar un cliente'}}</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="CancelEdition()"></i>
    </div>
    <div class="modal-body">
        <div class="w-100">
            <form [formGroup]="clientForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Nombre <span class="text-danger">*</span></label> 
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-account-o zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Nombre del cliente" formControlName="name" (keyup.enter)="RegisterClient()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(clientForm, 'name')?.touched && form.GetFormControlByName(clientForm, 'name')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'name')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Razón social <span class="text-danger">*</span></label> 
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-account-o zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Razón social del cliente" formControlName="socialReason" (keyup.enter)="RegisterClient()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(clientForm, 'socialReason')?.touched && form.GetFormControlByName(clientForm, 'socialReason')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'socialReason')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>RFC <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-account-o zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="RFC del cliente" formControlName="rfc" (keyup.enter)="RegisterClient()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(clientForm, 'rfc')?.touched && form.GetFormControlByName(clientForm, 'rfc')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'rfc')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'rfc')?.errors.pattern">
                                    Valor con formato inválido
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0">
                        <form [formGroup]="addressForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Dirección <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-home zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Dirección del cliente" formControlName="street" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'street')?.touched && form.GetFormControlByName(addressForm, 'street')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'street')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Número exterior <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-home zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Numero exterior" formControlName="externalNumber" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'externalNumber')?.touched && form.GetFormControlByName(addressForm, 'externalNumber')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'externalNumber')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'externalNumber')?.errors.onlynumbers">
                                                Solo números enteros
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Número interior</label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-home zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Numero interior" formControlName="internalNumber" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'internalNumber')?.touched && form.GetFormControlByName(addressForm, 'internalNumber')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'internalNumber')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'internalNumber')?.errors.onlynumbers">
                                                Solo números enteros
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Código postal <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-home zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Código posal del cliente" formControlName="postalCode" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'postalCode')?.touched && form.GetFormControlByName(addressForm, 'postalCode')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'postalCode')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'postalCode')?.errors.onlynumbers">
                                                Solo números enteros
                                            </span>
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'postalCode')?.errors.minlength">
                                                Mínimo {{form.GetFormControlByName(addressForm, 'postalCode')?.errors.minlength.requiredLength}} caracteres
                                            </span>
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'postalCode')?.errors.maxlength">
                                                Máximo {{form.GetFormControlByName(addressForm, 'postalCode')?.errors.maxlength.requiredLength}} caracteres
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Ciudad <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-globe zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Ciudad del cliente" formControlName="city" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'city')?.touched && form.GetFormControlByName(addressForm, 'city')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'city')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Estado <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-globe zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="Estado del cliente" formControlName="province" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'province')?.touched && form.GetFormControlByName(addressForm, 'province')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'province')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>País <span class="text-danger">*</span></label>
                                        <div class="input-container">
                                            <i class="input-icon zmdi zmdi-globe zmdi-hc-lg"></i>
                                            <input class="form-control" type="text" placeholder="País del cliente" formControlName="country" (keyup.enter)="RegisterClient()">
                                        </div>
                                        <div class="error-messages" *ngIf="form.GetFormControlByName(addressForm, 'country')?.touched && form.GetFormControlByName(addressForm, 'country')?.errors">
                                            <span class="d-block" *ngIf="form.GetFormControlByName(addressForm, 'country')?.errors.required">
                                                Campo obligatorio
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Porcentaje de utilidad <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-balance-wallet zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Porcentaje de utilidad del cliente" formControlName="utilityPercentage" (keyup.enter)="RegisterClient()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(clientForm, 'utilityPercentage')?.touched && form.GetFormControlByName(clientForm, 'utilityPercentage')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'utilityPercentage')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'utilityPercentage')?.errors.onlynumbers">
                                    Solo números
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Dias de pago</label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-time-countdown zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Dias de pago del cliente" formControlName="paymentDays" (keyup.enter)="RegisterClient()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(clientForm, 'paymentDays')?.touched && form.GetFormControlByName(clientForm, 'paymentDays')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'paymentDays')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(clientForm, 'paymentDays')?.errors.onlynumbers">
                                    Solo números
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="CancelEdition()">
            Cancelar
        </button>
        <button class="btn btn-primary" (click)="RegisterClient()">
            {{isEditing ? 'Actualizar' : 'Agregar' }}
        </button>
    </div>
</ng-template>
