<div class="d-flex align-items-center" style="height: 90vh;">
    <div class="w-100">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Login</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" formControlName="email">
                                <div class="error-messages" *ngIf="form.GetFormControlByName(loginForm, 'email')?.touched && form.GetFormControlByName(loginForm, 'email')?.errors">
                                    <span class="d-block" *ngIf="form.GetFormControlByName(loginForm, 'email')?.errors.email">
                                        Email no valido
                                    </span>
                                    <span class="d-block" *ngIf="form.GetFormControlByName(loginForm, 'email')?.errors.required">
                                        Favor de ingresar su email
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Contraseña:</label>
                                <input class="form-control" type="password" formControlName="password">
                                <div class="error-messages" *ngIf="form.GetFormControlByName(loginForm, 'password')?.touched && form.GetFormControlByName(loginForm, 'password')?.errors">
                                    <span class="d-block" *ngIf="form.GetFormControlByName(loginForm, 'password')?.errors.required">
                                        Favor de ingresar su contraseña
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" (click)="Login()">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

