<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <div class="page-title">
            <i class="zmdi zmdi-home zmdi-hc-lg mr-2 clickeable" (click)="GoHome()"></i>
            Mis ordenes de venta
        </div>

        <div class="d-flex">
            <button class="btn btn-success mx-1" (click)="nav.GoToRoleRoute('sell-orders/create')">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-lg mr-2"></i>
                Agregar
            </button>
            <div class="clickeable px-2" id="csvordersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button class="btn btn-success mx-1">
                    <i class="zmdi zmdi-file zmdi-hc-lg mr-2"></i>
                    CSV
                </button>
            
                <div class="dropdown-menu px-1 py-1" aria-labelledby="csvordersDropdown">
                    <div class="menu-list">
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="DownloadTemplate()">
                            <i class="zmdi zmdi-file-text"></i>
                            <span class="pl-2">Descargar plantilla</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="modal.OpenModal(addordersByCsvModal)">
                            <i class="zmdi zmdi-file-plus"></i>
                            <span class="pl-2">Cargar ordenes</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="GenerateCsv()">
                            <i class="zmdi zmdi-download"></i>
                            <span class="pl-2">Exportar ordenes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Filters -->
        <div class="col-12 mb-4">
            <app-filters [timerTrigger]="true" [filters]="{text:true,startDate:true,endDate:true,options:null}" (onSearch)="GetOrders($event)"></app-filters>
        </div>
        <div class="col-12 col-lg-11" *ngIf="!loading.getting; else bigLoading">
            <table class="table table-striped" *ngIf="!!orders?.length; else noOrdersMessage">
                <thead class="table-thead">
                    <tr>
                        <th>#</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Impuestos</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td class="align-middle clickeable" (click)="nav.GoToRoleRoute('edit-sell-orders/' + order.id)">{{order.id}}</td>
                        <td class="align-middle">{{order.status.name}}</td>
                        <td class="align-middle">{{order.date | date:"dd/MM/YYYY hh:mm a"}}</td>
                        <td class="align-middle">{{order.client.name}}</td>
                        <td class="align-middle">${{order.taxes}}</td>
                        <td class="align-middle">${{order.subtotal}}</td>
                        <td class="align-middle">${{order.total}}</td>
                        <td>
                            <div class="d-flex flex-column" style="gap: 12px;">
                                <div class="d-flex align-items-center justify-content-center" style="gap: 12px;">
                                    <i class="zmdi zmdi-edit zmdi-hc-lg clickeable" (click)="nav.GoToRoleRoute('edit-sell-orders/' + order.id)"></i>
                                    <i class="zmdi zmdi-delete zmdi-hc-lg clickeable" (click)="selectedOrder = order; modal.OpenModal(deleteorderModal)"></i>
                                </div>
                                <button class="btn btn-primary" *ngIf="order.statusId == 1" (click)="SetAsDelivered(order)">
                                    Entregar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #bigLoading>
    <div class="w-100 h-75 d-flex align-items-center justify-content-center" style="min-height: min-content;">
        <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
    </div>
</ng-template>
<ng-template #noOrdersMessage>
    <div class="no-items-message">
        No tiene ordenes registrados
    </div>
</ng-template>

<ng-template #addordersByCsvModal>
    <div class="modal-header">
        <h2 class="modal-title">Agregar por CSV</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal(loading.updating)"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-between">

            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-outline-primary" (click)="csvFileInput.click()">
                    Seleccionar archivo
                </button>
                <span>
                    {{ordersCsv?.name}}
                </span>
                <input class="d-none" type="file" accept=".csv" (change)="OnFileSelected($event)" #csvFileInput>
            </div>

            <div class="modal-table" *ngIf="!!ordersFailed?.length">
                <div class="my-4 text-center" style="font-size: 1.25rem; font-weight: 700;">
                    Error al crear ordenes
                </div>
                <table class="table table-danger table-striped">
                    <thead class="table-thead bg-danger">
                        <tr>
                            <th>Nombre</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let order of ordersFailed">
                            <td>{{order.order.name}}</td>
                            <td>{{!!order.reason ? order.reason : 'Error al crear'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.CloseModal()">
            <span *ngIf="!ordersFailed?.length">Cancelar</span>
            <span *ngIf="!!ordersFailed?.length">Cerrar</span>
        </button>
        <button class="btn btn-success" [disabled]="loading.updating" (click)="RegisterOrders()">
            <span *ngIf="!loading.updating">{{csvAcceptLabel}}</span>
            <span *ngIf="loading.updating"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
        </button>
    </div>
</ng-template>

<ng-template #deleteorderModal>
    <div class="modal-header">
        <h2 class="modal-title">Eliminar orden</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal(loading.updating)"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            ¿Esta seguro que desea eliminar la orden No. {{selectedOrder?.id}}?
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" [disabled]="loading.updating" (click)="modal.CloseModal()">
            No, cancelar
        </button>
        <button class="btn btn-danger" [disabled]="loading.updating" (click)="DeleteOrder()">
            <span *ngIf="!loading.updating">Si, eliminar</span>
            <span *ngIf="loading.updating"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
        </button>
    </div>
</ng-template>
