<div class="card d-flex flex-column">
    <div [ngClass]="{'mb-3': showHistory}">
        <div class="d-flex align-items-center justify-content-around flex-wrap">
            <div class="name mx-2">{{product?.name}}</div>
            <div class="mx-2">
                <label>Unidad de medida</label>
                <div class="text-center">
                    {{product.inventoryMeasurementType.abrev}}
                </div>
            </div>
            <div class="mx-2">
                <label>Comprador</label>
                <div class="text-center">
                    {{product?.buyer.name}}
                </div>
            </div>
            <div class="mx-2">
                <label>Inventario</label>
                <div class="text-center">
                    0 {{product.inventoryMeasurementType.abrev}}
                </div>
            </div>
            <div class="mx-2">
                <label>Total a comprar</label>
                <div class="text-center">
                    0 {{product.inventoryMeasurementType.abrev}}
                </div>
            </div>
            <div class="clickeable" (click)="showHistory = !showHistory">
                <i class="zmdi zmdi-caret-down zmdi-hc-3x" [ngClass]="{'caret-active': showHistory}"></i>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column price-history position-relative" [ngClass]="{'toggle-active': showHistory}">
        <div class="div-table t-header">
            <div class="th"><b>Orden No.</b></div>
            <div class="th"><b>Cantidad</b></div>
            <div class="th"><b>Total</b></div>
        </div>
        <div class="div-table t-body" *ngFor="let order of product?.orders">
            <div class="th">{{order.id}}</div>
            <div class="th">${{order.id}}</div>
            <div class="th">${{order.id}}</div>
        </div>
    </div>
</div>
