<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <div class="page-title">
            <i class="zmdi zmdi-home zmdi-hc-lg mr-2 clickeable" (click)="GoHome()"></i>
            Cobranza
        </div>

        <div class="d-flex">
            <div class="clickeable px-2" id="csvordersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button class="btn btn-success mx-1">
                    <i class="zmdi zmdi-file zmdi-hc-lg mr-2"></i>
                    CSV
                </button>
            
                <div class="dropdown-menu px-1 py-1" aria-labelledby="csvordersDropdown">
                    <div class="menu-list">
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="GenerateCsv()">
                            <i class="zmdi zmdi-download"></i>
                            <span class="pl-2">Exportar ordenes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Filters -->
        <div class="col-12 mb-4">
            <app-filters [timerTrigger]="true" [filters]="filters" (onSearch)="GetOrders($event)"></app-filters>
        </div>
        <div *ngIf="areSomeOrdersSelected" class="col-12 mb-4">
            <label>Cambiar estatus de ordenes seleccionadas</label>
            <div class="d-flex align-items-center" style="gap: 12px;">
                <i class="zmdi zmdi-save zmdi-hc-lg clickeable" (click)="SaveOrdersStatuses()"></i>
                <ng-select
                    class="flex-grow-1"
                    [items]="orderStatuses"
                    bindLabel="name"
                    [loading]="loading.updatingOrders"
                    placeholder="Selecciona un estatus"
                    [(ngModel)]="globalStatus"
                ></ng-select>
            </div>
        </div>
        <div class="col-12 col-lg-11">
            <div class="total-card">
                <div class="total">
                    <span>Pendientes:</span>
                    <span>${{GetTotalOrdersByStatus('Pendiente de pago') | number:"0.2-2"}}</span>
                </div>
                <div class="total">
                    <span>Pagadas:</span>
                    <span>${{GetTotalOrdersByStatus('Pagado') | number:"0.2-2"}}</span>
                </div>
                <div class="total">
                    <span>Incobrables:</span>
                    <span>${{GetTotalOrdersByStatus('Incobrable') | number:"0.2-2"}}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-11" *ngIf="!loading.getting; else bigLoading">
            <table class="table table-striped" style="overflow: visible;" *ngIf="!!orders?.length; else noOrdersMessage">
                <thead class="table-thead">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Impuestos</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td class="align-middle">
                            <input class="clickeable" type="checkbox" [(ngModel)]="order.isSelected">
                        </td>
                        <td class="align-middle">{{order.id}}</td>
                        <td class="align-middle">
                            <div class="d-flex align-items-center clickeable" style="gap: 12px;" (click)="ToggleStatusEdition(order)" *ngIf="!!!order.editStatus">
                                <i class="zmdi zmdi-edit zmdi-hc-lg"></i>
                                {{order.status.name}}
                            </div>
                            <div class="d-flex align-items-center" style="gap: 12px;" *ngIf="!!order.editStatus">
                                <i class="zmdi zmdi-save zmdi-hc-lg clickeable" (click)="SaveOrderStatus(order)"></i>
                                <ng-select
                                    class="flex-grow-1"
                                    [items]="orderStatuses"
                                    bindLabel="name"
                                    bindValue="id"
                                    [loading]="loading.updating"
                                    [disabled]="loading.updating"
                                    placeholder="Selecciona un estatus"
                                    [(ngModel)]="order.statusId"
                                ></ng-select>
                            </div>
                        </td>
                        <td class="align-middle">{{order.date | date:"dd/MM/YYYY hh:mm a"}}</td>
                        <td class="align-middle">{{order.client.name}}</td>
                        <td class="align-middle">${{order.taxes}}</td>
                        <td class="align-middle">${{order.subtotal}}</td>
                        <td class="align-middle">${{order.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #bigLoading>
    <div class="w-100 h-75 d-flex align-items-center justify-content-center" style="min-height: min-content;">
        <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
    </div>
</ng-template>
<ng-template #noOrdersMessage>
    <div class="no-items-message">
        No tiene ordenes por cobrar
    </div>
</ng-template>
