<div class="content">
    <div class="d-flex align-items-center justify-content-between">
        <div class="page-title">
            <i class="zmdi zmdi-home zmdi-hc-lg mr-2 clickeable" (click)="GoHome()"></i>
            Mis productos
        </div>

        <div class="d-flex">
            <button class="btn btn-success mx-1" (click)="modal.OpenModal(addOrEditProductModal)">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-lg mr-2"></i>
                Agregar
            </button>
            <div class="clickeable px-2" id="csvProductsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button class="btn btn-success mx-1">
                    <i class="zmdi zmdi-file zmdi-hc-lg mr-2"></i>
                    CSV
                </button>
            
                <div class="dropdown-menu px-1 py-1" aria-labelledby="csvProductsDropdown">
                    <div class="menu-list">
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="DownloadTemplate()">
                            <i class="zmdi zmdi-file-text"></i>
                            <span class="pl-2">Descargar plantilla</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="modal.OpenModal(addProductsByCsvModal)">
                            <i class="zmdi zmdi-file-plus"></i>
                            <span class="pl-2">Subir archivo</span>
                        </div>
                        <div class="d-flex align-items-center px-3 my-1 clickeable-hover" (click)="GenerateCsv()">
                            <i class="zmdi zmdi-download"></i>
                            <span class="pl-2">Exportar productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="!loading.getting; else bigLoading">
        <div class="row justify-content-center" *ngIf="!!products?.length; else noProductsMessage">
            <!-- Filters -->
            <div class="col-12 mb-4">
    
            </div>
            <div class="col-12 col-lg-11">
                <table class="table table-striped">
                    <thead class="table-thead">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Impuesto</th>
                            <th>Unidad de medida (ventas)</th>
                            <th>Unidad de medida (inventario)</th>
                            <th>Comprador</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.tax}}</td>
                            <td>{{product.salesMeasurementType?.name + " - " + product.salesMeasurementType?.abrev}}</td>
                            <td>{{product.inventoryMeasurementType?.name + " - " + product.inventoryMeasurementType?.abrev}}</td>
                            <td>{{product.buyer?.name ? product.buyer?.name : 'No asignado'}}</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="zmdi zmdi-edit zmdi-hc-lg clickeable mx-2" (click)="EditProduct(product); modal.OpenModal(addOrEditProductModal)"></i>
                                    <i class="zmdi zmdi-delete zmdi-hc-lg clickeable mx-2" (click)="selectedProduct = product; modal.OpenModal(deleteProductModal)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #bigLoading>
    <div class="w-100 h-75 d-flex align-items-center justify-content-center" style="min-height: min-content;">
        <i class="zmdi zmdi-spinner zmdi-hc-5x zmdi-hc-spin"></i>
    </div>
</ng-template>
<ng-template #noProductsMessage>
    <div class="no-items-message">
        No tiene productos registrados
    </div>
</ng-template>

<ng-template #addProductsByCsvModal>
    <div class="modal-header">
        <h2 class="modal-title">Agregar por CSV</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal(loading.updating)"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-between">

            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-outline-primary" (click)="csvFileInput.click()">
                    Seleccionar archivo
                </button>
                <span>
                    {{productsCsv?.name}}
                </span>
                <input class="d-none" type="file" accept=".csv" (change)="OnFileSelected($event)" #csvFileInput>
            </div>

            <div class="modal-table" *ngIf="!!productsFailed?.length">
                <div class="my-4 text-center" style="font-size: 1.25rem; font-weight: 700;">
                    Error al crear productos
                </div>
                <table class="table table-danger table-striped">
                    <thead class="table-thead bg-danger">
                        <tr>
                            <th>Nombre</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let product of productsFailed">
                            <td>{{product.product.name}}</td>
                            <td>{{!!product.reason ? product.reason : 'Error al crear'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.CloseModal()">
            <span *ngIf="!productsFailed?.length">Cancelar</span>
            <span *ngIf="!!productsFailed?.length">Cerrar</span>
        </button>
        <button class="btn btn-success" [disabled]="loading.updating" (click)="RegisterProducts()">
            <span *ngIf="!loading.updating">{{csvAcceptLabel}}</span>
            <span *ngIf="loading.updating"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
        </button>
    </div>
</ng-template>

<ng-template #deleteProductModal>
    <div class="modal-header">
        <h2 class="modal-title">Eliminar producto</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="modal.CloseModal(loading.updating); productForm.reset()"></i>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            ¿Esta seguro que desea eliminar a "{{selectedProduct?.name}}"?
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" [disabled]="loading.updating" (click)="modal.CloseModal(); productForm.reset()">
            No, cancelar
        </button>
        <button class="btn btn-danger" [disabled]="loading.updating" (click)="DeleteProduct()">
            <span *ngIf="!loading.updating">Si, eliminar</span>
            <span *ngIf="loading.updating"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
        </button>
    </div>
</ng-template>

<ng-template #addOrEditProductModal>
    <div class="modal-header">
        <h2 class="modal-title">{{ isEditing ? 'Actualizar producto' : 'Agregar un producto'}}</h2>
        <i class="close-modal-button zmdi zmdi-close-circle-o zmdi-hc-2x clickeable" (click)="CancelEdition()"></i>
    </div>
    <div class="modal-body">
        <div class="w-100">
            <form [formGroup]="productForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Nombre <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-collection-text zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Nombre del producto" formControlName="name" (keyup.enter)="RegisterProduct()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'name')?.touched && form.GetFormControlByName(productForm, 'name')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'name')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Código del SAT <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-collection-text zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Códgio del SAT del producto" formControlName="satCode" (keyup.enter)="RegisterProduct()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'satCode')?.touched && form.GetFormControlByName(productForm, 'satCode')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'satCode')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'satCode')?.errors.onlynumbers">
                                    Solo números enteros
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Peso promedio por pieza <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-collection-text zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Peso promedio en Kg" formControlName="weightPerPiece" (keyup.enter)="RegisterProduct()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'weightPerPiece')?.touched && form.GetFormControlByName(productForm, 'weightPerPiece')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'weightPerPiece')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'weightPerPiece')?.errors.pricenumber">
                                    Solo numeros con un maximo de 2 decimales
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Precio <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-money zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Precio del producto" formControlName="price" (keyup.enter)="RegisterProduct()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'price')?.touched && form.GetFormControlByName(productForm, 'price')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'price')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'price')?.errors.pricenumber">
                                    Solo numeros con un maximo de 2 decimales
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Impuesto <span class="text-danger">*</span></label>
                            <div class="input-container">
                                <i class="input-icon zmdi zmdi-money-box zmdi-hc-lg"></i>
                                <input class="form-control" type="text" placeholder="Impuesto del producto" formControlName="tax" (keyup.enter)="RegisterProduct()">
                            </div>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'tax')?.touched && form.GetFormControlByName(productForm, 'tax')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'tax')?.errors.required">
                                    Campo obligatorio
                                </span>
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'tax')?.errors.onlynumbers">
                                    Solo números enteros
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Unidad de medida para ventas <span class="text-danger">*</span></label>
                            <ng-select
                                class=""
                                [items]="measurementTypes"
                                bindLabel="name"
                                bindValue="id"
                                (change)="OnSalesMeasurementTypeChanges($event)"
                                placeholder="Unidad de medida (ventas)"
                                formControlName="salesMeasurementTypeId"
                            ></ng-select>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'salesMeasurementTypeId')?.touched && form.GetFormControlByName(productForm, 'salesMeasurementTypeId')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'salesMeasurementTypeId')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Unidad de medida para inventario <span class="text-danger">*</span></label>
                            <ng-select
                                class=""
                                [items]="measurementTypes"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Unidad de medida (inventario)"
                                formControlName="inventoryMeasurementTypeId"
                            ></ng-select>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'inventoryMeasurementTypeId')?.touched && form.GetFormControlByName(productForm, 'inventoryMeasurementTypeId')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'inventoryMeasurementTypeId')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Comprador <span class="text-danger">*</span></label>
                            <ng-select
                                class=""
                                [items]="buyers"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Comprador"
                                formControlName="buyerId"
                            ></ng-select>
                            <div class="error-messages" *ngIf="form.GetFormControlByName(productForm, 'buyerId')?.touched && form.GetFormControlByName(productForm, 'buyerId')?.errors">
                                <span class="d-block" *ngIf="form.GetFormControlByName(productForm, 'buyerId')?.errors.required">
                                    Campo obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" [disabled]="loading.updating" (click)="CancelEdition()">
            Cancelar
        </button>
        <button class="btn btn-primary" [disabled]="loading.updating" (click)="RegisterProduct()">
            <span *ngIf="!loading.updating">{{isEditing ? 'Actualizar' : 'Agregar'}}</span>
            <span *ngIf="loading.updating"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-spin"></i></span>
        </button>
    </div>
</ng-template>
