.clients-select {
    width: 100%;
}

.small-width {
    max-width: 70px;
}

.medium-width {
    min-width: 120px;
}

table {
    overflow-y: visible !important;
}

.order-summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}
.summary-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 1.25rem;
}

.order-summary .card {
    width: 400px;
    max-width: 100%;
}

.h-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.h-item {
    flex-basis: 20%;
    flex-grow: 1;
    width: 260px;
    min-height: 46px;
    height: fit-content;
}
