<div class="card d-flex flex-column">
    <form [formGroup]="productInventoryForm">
        <div class="d-flex align-items-center justify-content-around flex-wrap">
            <div class="name mx-2">{{product?.name}}</div>
            <div class="form-group mx-2">
                <label> Ultima modificación</label>
                <div class="text-center">
                    {{product.inventories[0].lastModified | date:"short"}}
                </div>
            </div>
            <div class="form-group mx-2">
                <label> Inventario</label>
                <div class="input-container">
                    <i class="input-icon zmdi zmdi-assignment zmdi-hc-lg"></i>
                    <input class="form-control" type="text" placeholder="Precio de compra" formControlName="quantity" (keyup.enter)="Update()">
                </div>
                <div class="error-messages" *ngIf="form.GetFormControlByName(productInventoryForm, 'quantity')?.touched && form.GetFormControlByName(productInventoryForm, 'quantity')?.errors">
                    <span class="d-block" *ngIf="form.GetFormControlByName(productInventoryForm, 'quantity')?.errors.required">
                        Campo obligatorio
                    </span>
                    <span class="d-block" *ngIf="form.GetFormControlByName(productInventoryForm, 'quantity')?.errors.onlynumbers">
                        Valor invalido
                    </span>
                </div>
            </div>
            <div class="form-group mx-2">
                <label> Unidad de medida</label>
                <div class="text-center">
                    {{product.inventoryMeasurementType.abrev}}
                </div>
            </div>
            <div class="mx-2" *ngIf="!history">
                <button class="btn btn-success" (click)="Update()">
                    Actualizar
                </button>
            </div>
            <div *ngIf="history" class="clickeable" (click)="showHistory = !showHistory">
                <i class="zmdi zmdi-caret-down zmdi-hc-3x" [ngClass]="{'caret-active': showHistory}"></i>
            </div>
        </div>
    </form>
    <div class="d-flex flex-column price-history position-relative" [ngClass]="{'toggle-active': showHistory}">
        <div class="div-table t-header">
            <div class="th"><b>Fecha</b></div>
            <div class="th"><b>Inventario</b></div>
        </div>
        <div class="div-table t-body" *ngFor="let inventory of product?.inventories">
            <div class="th">{{inventory.date | date:"dd/MM/YYYY"}}</div>
            <div class="th">{{inventory.quantity + ' ' + product.inventoryMeasurementType.abrev}}</div>
        </div>
    </div>
</div>
