<form [formGroup]="filtersForm">
    <div class="filters">
        <div class="form-group flex-grow-1">
            <div class="input-container">
                <i class="input-icon zmdi zmdi-search zmdi-hc-lg"></i>
                <input class="form-control" type="text" placeholder="Buscar" formControlName="text" (keyup)="Search(true)" (keyup.enter)="Search()">
            </div>
        </div>
        <div class="space" *ngIf="!!filters?.startDate"></div>
        <div class="form-group flex-grow-1" *ngIf="!!filters?.startDate">
            <div class="input-container">
                <input class="form-control no-icon" type="date" placeholder="Fecha" formControlName="startDate" (keyup)="Search(true)" (keyup.enter)="Search()">
            </div>
        </div>
        <div class="space" *ngIf="!!filters?.endDate"></div>
        <div class="form-group flex-grow-1" *ngIf="!!filters?.endDate">
            <div class="input-container">
                <i class="input-icon zmdi zmdi-search zmdi-hc-lg"></i>
                <input class="form-control" type="date" placeholder="Buscar" formControlName="endDate" (keyup)="Search(true)" (keyup.enter)="Search()">
            </div>
        </div>
        <div class="space" *ngIf="!!filters?.options"></div>
        <div class="form-group flex-grow-1" *ngIf="!!filters?.options">
            <div class="input-container">
                <input class="form-control no-icon" type="date" placeholder="Buscar" formControlName="options" (keyup)="Search(true)" (keyup.enter)="Search()">
            </div>
        </div>
        <button class="btn btn-success" *ngIf="!timerTrigger" (click)="Search()">
            Filtrar
        </button>
    </div>
</form>
