<div class="filters">
    <div class="filter" *ngFor="let filter of filters">
        <div class="form-group m-0 w-100" *ngIf="filter?.type == 'text'">
            <div class="input-container">
                <i class="input-icon zmdi zmdi-search zmdi-hc-lg"></i>
                <input class="form-control" type="text" [placeholder]="!!filter.placeholder ? filter.placeholder : ''" [(ngModel)]="filter.value" (keyup)="Search(true)" (keyup.enter)="Search()">
            </div>
        </div>
        <app-date-picker class="w-100" *ngIf="filter.type == 'datepicker'"
            [placeholder]="filter?.placeholder"
            [presetDate]="filter.value"
            (onDateChange)="SetDate(filter, $event)">
        </app-date-picker>
        <div class="form-group m-0 w-100" *ngIf="filter.type == 'select' && !!filter.config">
            <ng-select
                [items]="filter.config.options"
                bindLabel="name"
                [multiple]="filter.config.multiple"
                [placeholder]="!!filter.placeholder ? filter.placeholder : ''"
                [(ngModel)]="filter.value"
                (change)="OnOptionSelected($event)"
            ></ng-select>
        </div>
    </div>
    <button class="btn btn-success" *ngIf="!timerTrigger" (click)="Search()">
        Filtrar
    </button>
</div>
